{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.5/css/flag-icon.min.css">
{% endblock %}
{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="page-header">
            <h1 class="header">Analyser</h1>
        </div>

        <nav class="bottom15">
            <div class="nav-wrapper">
                <form id="searchForm" action="/analyser" method="get">
                    <div class="input-field">
                        <input id="search" type="search" name="search" value="{{ search }}" required>
                        <label for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
        <div id="fetch" class="progress" style="display: none;">
            <div class="indeterminate"></div>
        </div>
        <div class="row">
            <div class="col s12" id="piechart" style="height: 500px;"></div>
        </div>
        <div class="row">
            <div class="col s6" id="positivesChart"></div>
            <div class="col s6" id="negativesChart"></div>
        </div>
        <div id="cloud" style="width: 960px; height: 500px;"></div>

        <div class="row">
            <div id="tweets" class="col s12">

            </div>
        </div>
    </div>


{% endblock %}

{% block js_block %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.min.js">
    </script>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}">
    </script>
    <script type="text/javascript" src="{% static 'analyser.js' %}">
    </script>
{% endblock %}
